.home-container {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 4px;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 8px;
  background-color: white;
  padding: 24px 12px;
  border-radius: 8px;
  min-height: 500px;
}

.search-and-filter,
.header {
  display: flex;
  gap: 16px;
  padding: 4px 12px;
}

.header h1 {
  color: white;
}

.header {
  padding-top: 12px;
}
