@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary: #dc0a2d;
  --grayShadow: #00000040;
  --grayShadowHover: #00000033;
  --textColor: #1d1d1d;
  --textSecondary: #666666;
  --softGray: #efefef;
}
.bug {
  --type-color: #a7b723;
}

.dark {
  --type-color: #75574c;
}

.dragon {
  --type-color: #7037ff;
}

.electric {
  --type-color: #f9cf30;
}

.fairy {
  --type-color: #e69eac;
}

.fighting {
  --type-color: #c12239;
}

.fire {
  --type-color: #f57d31;
}

.flying {
  --type-color: #a891ec;
}

.ghost {
  --type-color: #70559b;
}

.normal {
  --type-color: #aaa67f;
}

.grass {
  --type-color: #74cb48;
}

.ground {
  --type-color: #dec16b;
}

.ice {
  --type-color: #9ad6df;
}

.poison {
  --type-color: #a43e9e;
}

.psychic {
  --type-color: #fb5584;
}

.rock {
  --type-color: #b69e31;
}

.steel {
  --type-color: #b7b9d0;
}

.water {
  --type-color: #6493eb;
}

.grayscale-medium {
  --type-color: #666666;
}
.grayscale-light {
  --type-color: #e0e0e0;
}
/* .grayscale-{--type-color: #EFEFEF} */
.grayscale-white {
  --type-color: #ffffff;
}
.grayscale-wireframe {
  --type-color: #b8b8b8;
}
.grayscale-dark {
  --type-color: #1d1d1d;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: var(--textColor);
}
